<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Week4 (hw)</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./css/products.css" />
	</head>

	<body>
		<div id="app">
			<div class="container">
				<!--bs5 text-end 末尾對齊，應用了 CSS 中的 text-align: end 屬性-->
				<div class="text-end mt-4">
					<!-- @click 觸發 openModal 事件( Modal互動視窗 )，傳入一個參數'new'建立新產品 -->
					<button class="btn btn-primary" @click="openModal('new')">
						建立新的產品
					</button>
				</div>
				<table class="table mt-4">
					<thead>
						<tr>
							<th width="120">分類</th>
							<th>產品名稱</th>
							<th width="120">原價</th>
							<th width="120">售價</th>
							<th width="100">是否啟用</th>
							<th width="120">編輯</th>
						</tr>
					</thead>
					<tbody>
						<!-- v-for 遍歷 products 中所有 product，v-for 加上 :key (唯一值) -->
						<tr v-for="(product) in products" :key="product.id">
							<td>{{ product.category }}</td>
							<td>{{ product.title }}</td>
							<td class="text">{{ product.origin_price }}</td>
							<td class="text-end">{{ product.price }}</td>
							<td>
								<span v-if="product.is_enabled" class="text-success">啟用</span>
								<span v-else>未啟用</span>
							</td>
							<td>
								<div class="btn-group">
									<!-- @click 觸發 openModal 方法( Modal互動視窗 )，傳入兩個參數'edit', product 來編輯 -->
									<button
										type="button"
										class="btn btn-outline-primary btn-sm"
										@click="openModal('edit', product)"
									>
										編輯
									</button>
									<!-- @click 觸發 openModal 方法( Modal互動視窗 )，傳入兩個參數'delete', product 來刪除 -->
									<button
										type="button"
										class="btn btn-outline-danger btn-sm"
										@click="openModal('delete', product)"
									>
										刪除
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- emit 寫法：@change-page="getProducts" -->
				<pagination :pages="page" :get-products="getProducts"></pagination>
			</div>

			<!-- Modal
			** 只要出現，不需要淡入淡出，就不加 .fade 
			** tabindex=負數 (通常是 tabindex="-1")，表示元素是可聚焦的，但是不能通過鍵盤導航至該元素。https://developer.mozilla.org/zh-CN/docs/Web/HTML/Global_attributes/tabindex
			** ARIA：Accessible Rich Internet Applications (無障礙設計) 
			** product/delete modal 架構：dialog -> content -> header + body + footer
			-->

			<!-- product modal -->
			<div
				id="productModal"
				ref="productModal"
				class="modal fade"
				tabindex="-1"
				aria-labelledby="productModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-xl">
					<div class="modal-content border-0">
						<div class="modal-header bg-dark text-white">
							<h5 id="productModalLabel" class="modal-title">
								<span v-if="isNew">新增產品</span>
								<span v-else>編輯產品</span>
							</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<!-- v-model 同步內容 -->
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-4">
									<div class="mb-3">
										<label for="imageUrl" class="form-label">主要圖片</label>
										<input
											type="text"
											class="form-control mb-2"
											placeholder="請輸入主圖連結"
											v-model="tempProduct.imageUrl"
										/>
									</div>
									<!-- 使用 v-bind: 來動態改變圖片來源(:src)和替代文字(:alt) -->
									<img
										class="img-fluid"
										:src="tempProduct.imageUrl"
										:alt="tempProduct.title"
									/>
									<h3 class="mb-3">多圖新增</h3>
									<!-- Array.isArray 確認是否為陣列 -->
									<div v-if="Array.isArray(tempProduct.imagesUrl)">
										<div
											class="mb-1"
											v-for="(image, index) in tempProduct.imagesUrl"
											:key="image"
										>
											<div class="mb-3">
												<label for="imageUrl" class="form-label"
													>圖片網址</label
												>
												<input
													id="imageUrl"
													type="text"
													v-model="tempProduct.imagesUrl[index]"
													class="form-control"
													placeholder="請輸入圖片連結"
												/>
											</div>
											<img class="img-fluid" :src="image" />
										</div>
										<!-- 避免無限新增空圖片：
										imagesUrl 陣列無內容(長度為0) 
										或是 
										當前圖片網址已有輸入值，可新增下一個(當前圖片網址不可為空值、空白) -->
										<div
											v-if="tempProduct.imagesUrl.length ==0 || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1].replace(' ', '')"
										>
											<button
												class="btn btn-outline-primary btn-sm d-block w-100"
												@click="tempProduct.imagesUrl.push('')"
											>
												<!-- push：尾端新增元素 -->
												新增圖片
											</button>
										</div>
										<div v-else>
											<button
												class="btn btn-outline-danger btn-sm d-block w-100"
												@click="tempProduct.imagesUrl.pop()"
											>
												<!-- pop：移除並回傳陣列的最後一個元素 -->
												刪除圖片
											</button>
										</div>
									</div>
									<div v-else>
										<button
											class="btn btn-outline-primary btn-sm d-block w-100"
											@click="createImages"
										>
											新增圖片
										</button>
									</div>
								</div>

								<div class="col-sm-8">
									<div class="mb-3">
										<label for="title" class="form-label">標題</label>
										<input
											v-model="tempProduct.title"
											id="title"
											type="text"
											class="form-control"
											placeholder="請輸入標題"
										/>
									</div>

									<div class="row">
										<div class="mb-3 col-md-6">
											<label for="category" class="form-label">分類</label>
											<input
												id="category"
												type="text"
												class="form-control"
												placeholder="請輸入分類"
												v-model="tempProduct.category"
											/>
										</div>
										<div class="mb-3 col-md-6">
											<label for="unit" class="form-label">單位</label>
											<input
												id="unit"
												type="text"
												class="form-control"
												placeholder="請輸入單位"
												v-model="tempProduct.unit"
											/>
										</div>
									</div>

									<div class="row">
										<div class="mb-3 col-md-6">
											<label for="origin_price" class="form-label">原價</label>
											<input
												id="origin_price"
												type="number"
												min="0"
												class="form-control"
												placeholder="請輸入原價"
												v-model.number="tempProduct.origin_price"
											/>
										</div>
										<div class="mb-3 col-md-6">
											<label for="price" class="form-label">售價</label>
											<input
												id="price"
												type="number"
												min="0"
												class="form-control"
												placeholder="請輸入售價"
												v-model.number="tempProduct.price"
											/>
										</div>
									</div>
									<hr />

									<div class="mb-3">
										<label for="description" class="form-label">產品描述</label>
										<textarea
											id="description"
											type="text"
											class="form-control"
											placeholder="請輸入產品描述"
											v-model.number="tempProduct.description"
										>
										</textarea>
									</div>
									<div class="mb-3">
										<label for="content" class="form-label">說明內容</label>
										<textarea
											id="content"
											type="text"
											class="form-control"
											placeholder="請輸入說明內容"
											v-model.number="tempProduct.content"
										>
										</textarea>
									</div>
									<div class="mb-3">
										<div class="form-check">
											<!-- true-value / false-value 將原本checkbox 的值 true / false 改為其他值 -->
											<input
												id="is_enabled"
												class="form-check-input"
												type="checkbox"
												:true-value="1"
												:false-value="0"
												v-model="tempProduct.is_enabled"
											/>
											<label class="form-check-label" for="is_enabled"
												>是否啟用</label
											>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-outline-secondary"
								data-bs-dismiss="modal"
							>
								取消
							</button>
							<button
								type="button"
								class="btn btn-primary"
								@click="updateProduct"
							>
								確認
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- delProduct modal -->
			<div
				id="delProductModal"
				ref="delProductModal"
				class="modal fade"
				tabindex="-1"
				aria-labelledby="delProductModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content border-0">
						<div class="modal-header bg-danger text-white">
							<h5 id="delProductModalLabel" class="modal-title">
								<span>刪除產品</span>
							</h5>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">
							是否刪除
							<strong class="text-danger">{{ tempProduct.title }}</strong>
							商品(刪除後將無法恢復)。
						</div>
						<div class="modal-footer">
							<!-- data-bs-dismiss="modal" 加在"取消"按鈕上，讓該按鈕在點擊後，接著關閉 modal 視窗。 -->
							<button
								type="button"
								class="btn btn-outline-secondary"
								data-bs-dismiss="modal"
							>
								取消
							</button>
							<button type="button" class="btn btn-danger" @click="delProduct">
								確認刪除
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>
		<script src="./js/products.js" type="module"></script>
	</body>
</html>
